
.question {
background-color: rgb(150, 200, 255);
position: relative;
border: 0.2em dotted white;
padding: 0.5em;
margin: 1em 4em;
}

.question__text {
    display: block;
}

.answer {
    display: block;
    font-color: blue;
}