
.question {
background-color: rgb(150, 200, 255);
position: relative;
border: 0.2em dotted white;
padding: 0.5em;
margin: 1em 4em;
}

.question__text {
    display: block;
}

.question__answer {
    font-color: blue;
    padding: 0.5em;
}

.question__thanks {
    font-color: black;
    display: none;
    padding: 0.5em;
}

.question__why {
    float: right;
    font-size: small;
}